body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: rgb(83, 83, 83);
  width: 400px;
  margin-bottom: 30px;
  margin-right: 14px;
}

.app-icon {
  font-size: 34px;
  vertical-align: middle;
  color: #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin: 14px;
  
  &:hover {
    color: white;
    border-color: white;
  }

  &:active { // color of button when clicking
    color: rgb(219, 219, 219);
  }
}

/*
 * Class for an active 'show favorites' button.
 * This class inherits the "image-icon" class (to prevent repetitive code).
 * An active save button is blue-coloured and light-blue-coloured when hovering.
 */
.app-icon-fav-active {
  @extend .app-icon;
  color: rgb(62, 154, 240);

  &:hover {
    color: rgb(109, 197, 255);
    border-color: rgb(109, 197, 255);
  }

  &:active { // color of button when clicking
    color: rgb(102, 185, 240);
  }

}