body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
  background-color: rgba(0,0,0,0.4)
}

.app-header {
  background-image: url("https://www.crockerart.org/uploads/elements/home/marquee-1600x700.jpg");
  background-size: 100% auto ;
  background-position: center;
  padding: 10px;
  color: white;
  font-size: 20pt;
  font-family: fantasy;
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}
