body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
  
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}
.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 200%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 29.5%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 25.8%;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.7);
}
.close-btn {
  float: right;
  padding: 1%  1% 0% 0%;
  font-size: 700%;
  border: none;
}
.slider {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  display: none;
  z-index: 2;
  cursor: pointer;
}
.frot-image {
  height: 100%;
  width: 40%;
  
}
