.gallery-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  display: flex;
  align-items: center;

  button {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100%;
    opacity: 0.85;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 40px;

    &:focus {
      outline: none;
    }

    &.close-button {
      position: fixed;
      top: 0;
      right: 0;
    }
  }

  div {
    flex: 1;
    align-self: stretch;
    background-size: contain;
    background: no-repeat center center;
    margin: 20px;
  }
}
