
#box_container, .image_Container{
  display: inline-block;
  position: fix;
  width: 100%;
  height: 100%;
  max-width: 940px;
  max-height: 680px;
  top: 0;
  opacity: 1;
  z-index: 100;
}

.imgBox{
  margin-top: 6%;
  width: 100%;
  height: 100%;
  opacity: 1;
}
a, .closeBox{
  margin-top: 2em;
}
.closeBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;



  &.closeBox:hover,
  .closeBox:focus{
    color: rgba(0, 119, 128, 0.822);
    transition: 1s ease-in-out;




  }
}
ul{
  text-align: center;
  margin-top: 2em
}
.arrow{
  color:#fff;
  display: inline;
  margin: 3em;
  &.arrow:hover{
    color: rgba(0, 119, 128, 0.822);
    transition: 0.5s ease-in-out;
  }
}
.fa-arrow-circle-right{
  font-size: 2em;
  margin-right: 1em;
}
.fa-arrow-circle-left{

  font-size: 2em;

}

