.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.ImageLarge {
  background-color: white;
  width: 1000 px;
  position: absolute;
  z-index: 100;
}