.gallery-root {
  text-align: center;
  background: #edeeef;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.data-loading {
  display: block;
  padding: 15px;
  text-align: center;
  background-color: #d1d1d1;
  border: 0;
}
