.gallery-root {
  background-color: #222;

}
* {
  box-sizing: inherit;
}
.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
