.float{
	position:fixed;
	border-radius:50px;
	width:60px;
	height:60px;
	bottom:10px;
	right:40px;
	line-height:55px;
  background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
	font-size:20px;
}

.float:hover {   
    background-color:#808080;
	opacity: 0.85;
    cursor:pointer;
}
