.image-root {
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 2px;
    
    &:hover {
        color: white;
        border-color: white;
    }
  }

  /*
   * Class for an active 'favorite' button.
   * This class inherits the "image-icon" class (to prevent repetitive code).
   * An active save button is blue-coloured and light-blue-coloured when hovering.
   */
  .image-icon-favorited {
    @extend .image-icon;
    border: 1px solid rgb(62, 154, 240);
    color: rgb(62, 154, 240);

    &:hover {
      color: rgb(109, 197, 255);
      border-color: rgb(109, 197, 255);
    }
  }
  
}

/*
 * Classes for rotated images. 
 * Each class inherits the "image-root" class (to prevent repetitive code).
 * Images are transformed accordingly and the part that is activated while hovering 
 * is rotated back to the original degrees.
 */ 
.image-root-rotated90 {
  @extend .image-root;
  > div {
    transform: rotate(-90deg);
  }
}
.image-root-rotated180 {
  @extend .image-root;
  > div {
    transform: rotate(-180deg);
  }
}
.image-root-rotated270 {
  @extend .image-root;
  > div {
    transform: rotate(90deg);
  }
}